<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div th:each="board : ${boards.content}">
            <div class="card m-2">
                <div class="card-body">
                    <h4 class="card-title" th:text="${board.title}">제목 적는 부분</h4>
                    <a href="#" class="btn btn-primary">상세보기</a>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${boards.first ? 'disabled': ''}">
                <a class="page-link" th:href="@{/(page=${boards.number-1})}">Previous</a>
            </li>

            <li class="page-item" th:classappend="${boards.last ? 'disabled': ''}">
                <a class="page-link" th:href="@{/(page=${boards.number+1})}">Next</a>
            </li>
        </ul>

    </div>
</div>

</html>